.pane {
  min-height: 100vh;
  background-color: green;

/*  text-align: center;*/
  display: flex;
  flex-direction: column;
  align-content: stretch;
}

.content {
  background-color: #282c34;

  flex-grow: 4;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
