.flip-card {
    padding: 20px;
    background-color: transparent;
    height: 150px;
    perspective: 500px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

/* Flip when this class is added */
.flipped .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    color: black;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.flip-card-front {
    background-color: antiquewhite;
}

.flip-card-back {
    background-color: dodgerblue;
    transform: rotateY(180deg);
}